<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022501512550-ucibfbca4sp3niehqsg4lfhtd2e4fs0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022501512550-ucibfbca4sp3niehqsg4lfhtd2e4fs0l</string>
	<key>API_KEY</key>
	<string>AIzaSyDpvlJ75aDnHXzGyUaiiGga3xtTgZe483A</string>
	<key>GCM_SENDER_ID</key>
	<string>1022501512550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.horeng.ProjectManager</string>
	<key>PROJECT_ID</key>
	<string>horeng-projectmanager</string>
	<key>STORAGE_BUCKET</key>
	<string>horeng-projectmanager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022501512550:ios:f0a08fd21e16ff191b14a7</string>
</dict>
</plist>