<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383220599839-d2e9k5c0rmun67hdq7hq6jj1mp4pihep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383220599839-d2e9k5c0rmun67hdq7hq6jj1mp4pihep</string>
	<key>API_KEY</key>
	<string>AIzaSyDRBRzj3v5_s9coWd5QqWIY9pIj29_Kp5w</string>
	<key>GCM_SENDER_ID</key>
	<string>383220599839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.horeng2.ProjectManager</string>
	<key>PROJECT_ID</key>
	<string>ios-preject-manager-horeng2</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-preject-manager-horeng2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383220599839:ios:82f4d2de96e58cc295992a</string>
</dict>
</plist>